.aspect-item {
    display: flex;
    align-items: center;
    width: 250px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .aspect-icon {
    width: 8px;
    height: 40px;
    background: linear-gradient(to bottom, #73a5ff, #7e6fff);
    margin-right: 10px;
  }
  
  .aspect-item p {
    font-size: 1.2em;
    color: #333;
    margin: 0;
  }
  